<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='<%= localPath %>/stylesheets/bootstrap.css' />
  </head>
  <body>
    <div class="hero-unit"><h1><%= h1 %></h1>
    <p>Bienvenue sur ma TodoList!<br>Inscrivez toutes vos tâches à faire !</p></div>
    <div class="row-fluid">
    	<div class="list offset3 span6">
    	<table class="table table-hover table-bordered">
    	<thead class="span6"><tr><th>Que devons-nous encore faire ...</th></tr></thead>
        <tbody>
            <% todos.forEach( function (todo){ %>
    		<tr>
                <td
                <% if( todo.completed == true ){ %> class="completed" <%}%> 
                >
                <%= todo.title %> <span class="small">(door: <%= todo.create_user %>)</span></td>
                <td><% if ( todo.completed == false ) { %><a href="<%= localPath %>/complete/<%= todo._id %>">Completed</a><%}%> 
                    <% if ( todo.completed == true ) { %><a href="<%= localPath %>/uncomplete/<%= todo._id %>">Uncomplete</a><%}%>
                </td>
                <td>
                    <a href="<%= localPath %>/delete/<%= todo._id %>" onclick="return makesure();">Supprimer</a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    	</table>
    	</div>
	</div>
  <div class="row-fluid">
    <div class="list offset3 input-append">
      <form action="<%= localPath %>/create" method="post">
          <input type="text" name="content" autofocus="autofocus"/>
          <input type="submit" class="btn" name="todo-submit" value="Ajouter"/>
      </form>
    </div>
  </div>
  <div class="row-fluid">
      <div class="list offset3 span6">
      <table class="table table-hover table-bordered">
      <thead class="span6"><tr><th>Les catégories</th></tr></thead>
        <tbody>
            <% tags.forEach( function (tag){ %>
            <tr>
                <td>
                    <%= tag.name %> <span class="small">(door: <%= tag.create_user %>)</span>
                </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row-fluid">
    <div class="list offset3 input-append">
      <form action="<%= localPath %>/createTag" method="post">
          <input type="text" name="name" autofocus="autofocus"/>
          <input type="submit" class="btn" name="tag-submit" value="Ajouter une catégorie"/>
      </form>
    </div>
  </div>
    <script type="text/javascript">
     function makesure() {
      return confirm('Êtes-vous sûr? \n\n Vous pouvez également marquer une tâche comme \'terminée \' ! \n\n Confirmer la suppression ?');
    </script>
  </body>
</html>
