<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='<%= localPath %>/stylesheets/bootstrap.css' />
  </head>
  <body>
    <div class="hero-unit"><h1><%= h1 %></h1>
    <p>Bienvenue sur la TodoList mobile !</p></div>
    <div class="row">
    	<div class="list offset2 span4">
    	<table class="table table-striped">
    	<thead><tr><th>Ce qu'il reste à faire...</th></tr></thead>
            <% todos.forEach( function (todo){ %>
    		<tr><td><%= todo.title %> <a href="<%= localPath %>/delete/<%= todo._id %>" onclick="return makesure();">Supprimer</a></td></tr>
            <% }); %>
    	</table>
    	</div>
	</div>
	<div class="row">
    <div class="offset2 input-append">
    	<form action="<%= localPath %>/create" method="post">
    			<input type="text" name="content" autofocus="autofocus"/>
    			<input type="submit" class="btn" name="todo-submit" value="Ajouter"/>
    	</form>
    </div>
	</div>
    <script type="text/javascript">
     function makesure() {
       return confirm('Confirmer la suppression ?');
     }
    </script>
  </body>
</html>
